@import "~bootstrap/scss/bootstrap.scss";

.main {
    position: relative;
    margin-top: 30px;
}

.stick {
    background-color: black;
    width: 10px;
    height: 60px;
    margin: 0px auto;
}

.trafficBody {
    background-color: black;
    width: 70px;
    height: 160px;
    margin: 0px auto;
}

.red {
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 0px auto;
    border-radius: 70px;
}

.orange {
    background-color: orange;
    width: 50px;
    height: 50px;
    margin: 0px auto;
    border-radius: 70px;
}

.green {
    background-color: green;
    width: 50px;
    height: 50px;
    margin: 0px auto;
    border-radius: 70px;
}

.glow {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: #F5F3CE;
    animation: glow 1s infinite alternate;
}
